.ubnr {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.ucntbg {
    position: absolute;
    left: 0;
    top: 320px;
    width: 100%;
    height: calc(100dvh - 150px);
    /*background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/743/144/original/pink-blue-gradient-liquid-wave-technology-abstract-background-free-video.jpg");*/
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/743/144/original/pink-blue-gradient-liquid-wave-technology-abstract-background-free-video.jpg");
    background-size: cover;
    filter: blur(200px) brightness(0.7);
    -webkit-filter: blur(200px) brightness(0.7);
}


@supports (-webkit-touch-callout: none) {
    .ucntbg {
        filter: blur(150px) brightness(0.5) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComponentTransfer><feFuncA type="linear" slope="10"/></feComponentTransfer></filter>#a');;
        -webkit-filter: blur(150px) brightness(0.5) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComponentTransfer><feFuncA type="linear" slope="10"/></feComponentTransfer></filter>#a');;
    }
}


@media (prefers-color-scheme: light) {
    .ucntbg {
        z-index: 0;
        filter: blur(250px) brightness(0.5) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComponentTransfer><feFuncA type="linear" slope="10"/></feComponentTransfer></filter>#a');;
        -webkit-filter: blur(250px) brightness(0.5) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComponentTransfer><feFuncA type="linear" slope="10"/></feComponentTransfer></filter>#a');;
    }
    .ubnr {
        z-index: 3;
    }

    @supports (-webkit-touch-callout: none) {
        .ucntbg {
            z-index: 0;
            filter: none;
            -webkit-filter: none;
        }

        .ucntbg::after {
            backdrop-filter: blur(250px) brightness(0.5);
            -webkit-backdrop-filter: blur(250px) brightness(0.5);
            pointer-events: none;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-color-index: 0) {
    @media (prefers-color-scheme: light) {
        .ucntbg {
            z-index: 0;
            filter: none;
            -webkit-filter: none;
        }
        .ucntbg::after {
            backdrop-filter: blur(150px) brightness(0.5);
            -webkit-backdrop-filter: blur(150px) brightness(0.5);
            pointer-events: none;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}




.ucnt {
    position: absolute;
    left: 0;
    top: 300px;
    width: 100%;
    height: calc(100dvh - 300px);
    z-index: 2;
}

.ucnt h1 {
    font-family: JetBrains Mono, monospace;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    margin: 0;
    letter-spacing: normal;
    position: relative;
    top: 40px;
    left: 30px;
    width: calc(100% - 30px - 30px);
}

@media screen and (max-width: 500px) {
    .ucnt h1 {
        font-size: 10vw;
    }
}

.ucntinf {
    font-family: JetBrains Mono, monospace;
    font-size: 16px;
    font-weight: 600;
    color: #d7d7d7;
    position: relative;
    left: 30px;
    width: fit-content;
}

.ucntinf:first-of-type {
    top: 17px;
}

.ucntinf:nth-of-type(2) {
    top: 5px;
}

.ucntinf:nth-of-type(3) {
    top: -7px;
}

.ucntinf svg {
    height: 24px;
    width: 16px;
    vertical-align: top;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: -3px;
}

.ucntinf svg g {
    fill: #F5F5F5;
}


.ucntdsc {
    position: relative;
    left: 30px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    top: -10px;
    width: calc(100% - 30px - 40px);
}

.ucnt h4 {
    font-family: JetBrains Mono, monospace;
    font-size: 15px;
    position: relative;
    left: 30px;
    width: fit-content;
}