.setts-cont {
    text-align: center;
    top: 0;
}

.setts-cont h2 {
    font-size: 27px;
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    color: var(--color)
}


.setts-bnr button {
    display: none;
    border: 0;
    background-color: transparent;
    vertical-align: top;
    padding: 6px;
    width: fit-content !important;
    height: fit-content;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
    transition: 0.25s;
    border-radius: 6px;
}


.setts-bnr button svg {
    position: relative;
    left: 0;
    top: 1px;
}

.setts-bnr button svg g path {
    stroke: #a4a4a4;
    transition: 0.25s;
}

.setts-bnr button:active {
    background-color: #2D2D2D;
}

.setts-bnr button:active svg g path {
    stroke: white;
}

@media (hover: hover) and (pointer: fine) {
    .setts-bnr button:hover {
        background-color: #2D2D2D;
    }

    .setts-bnr button:hover svg g path {
        stroke: white;
    }

    .setts-bnr button:active svg g path {
        stroke: #ff5252;
    }
}

.setts-bnr img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 8px;
    transition: 0.25s;
    cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
    .setts-bnr img:hover {
        filter: brightness(0.75);
    }
}
.setts-bnr img:active {
    filter: brightness(0.5);
}

.setts-bnr h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    font-family: "JetBrains Mono", monospace;
    vertical-align: top;
    text-align: left;
    margin: 0;
    padding-left: 10px;
    color: var(--color)
}

.setts-bnr h4 p {
    font-size: 15px;
    margin: 0;
    position: relative;
    top: -3px;
}

.setts-bnr p {
    display: inline-block;
}

.setts-cont-label-txt {
    text-align: left;
}

.setts-cont button {
    width: 319px;
    margin-top: 10px;
}