.ubnr-cont {
    position: relative;
    border-radius: 12px !important;
    left: 0;
    width: 500px;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    filter: none !important;
}

.ubnr {
    position: relative;
    border-radius: 12px !important;
    left: 0;
    width: 500px;
    height: 250px;
    object-fit: cover;
    filter: blur(10px);
    padding: 20px;
    margin: -20px;
    z-index: -1;
}

.ucnt {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 90px;
    width: 500px;
    height: calc(100dvh - 300px);
    z-index: 2;
}

.ucnt h1 {
    font-family: JetBrains Mono, monospace;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    margin: 0;
    letter-spacing: normal;
    width: 500px;
    overflow: scroll;
    /*margin-bottom: 0;*/
    height: fit-content;
    margin-top: -20px;
    color: var(--color)
}

@media screen and (max-width: 500px) {
    .ucnt h1 {
        font-size: 10vw;
    }
}

.ucntinf {
    font-family: JetBrains Mono, monospace;
    font-size: 16px;
    font-weight: 600;
    color: #d7d7d7;
    position: relative;
    left: 30px;
    width: fit-content;
    top: 0;
    margin-top: -10px;
}

@media (prefers-color-scheme: light) {
    .ucntinf {
        color: #343434;
    }
}

.ucntinf:first-of-type {
    top: 17px;
}

.ucntinf:nth-of-type(2) {
    top: 5px;
}

.ucntinf:nth-of-type(3) {
    top: -7px;
}

.ucntinf svg {
    height: 24px;
    width: 16px;
    vertical-align: top;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: -3px;
}

.ucntinf svg g {
    fill: #FFFFFF;
}

@media (prefers-color-scheme: light) {
    .ucntinf svg g {
        fill: #171515;
    }
}

.ucntinfacn {
    color: #c8e0ff;
}

.ucntinfacn:hover {
    color: #6daeff;
}

.ucntinfacn:active {
    color: white;
}


.ucntdsc {
    position: relative;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    top: -10px;
    width: calc(500px - 60px);
    left: 30px;
    color: var(--color)
}

.ucntflw {
    position: relative;
    left: 30px;
}

.ucntpub {
    font-family: JetBrains Mono, monospace;
    font-size: 16px;
    position: relative;
    left: 30px;
    width: fit-content;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--color);
    filter: brightness(0.5);
    transition: 0.3s;
    cursor: pointer;
}

.ucntpub span {
    transform: rotate(0);
    display: inline-block;
    transition: 0.2s;
}

.ucntpub:hover {
    filter: brightness(0.75);
}

.ucntpub:active {
    filter: brightness(0.6);
}

.ucntsnips {
    margin-top: -5px !important;
    /*posi*/
    all: revert !important;
    text-align: center;
    white-space: nowrap !important;
    position: relative !important;
    /*left: -100px !important;*/
    /*left: 50% !important;*/
    padding: 0 !important;

    /*transform: translate(-50%) !important;*/
    width: calc(400px - 60px) !important;
    overflow: scroll !important;
    scroll-snap-type: x mandatory;
    /*background: rgb(2,0,36);*/
    /*background-image:*/

    /*    !* Shadows *!*/
    /*        linear-gradient(to right, #19191C, #19191C),*/
    /*        linear-gradient(to right, #19191C, #19191C),*/

    /*            !* Shadow covers *!*/
    /*        linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255,255,255,0)),*/
    /*        linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255,255,255,0)) !important;*/

    /*background-position: left center, right center, left center, right center !important;*/
    /*background-repeat: no-repeat !important;*/
    /*background-color: #19191C !important;*/
    /*background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100% !important;*/

    /*!* Opera doesn't support this in the shorthand *!*/
    /*background-attachment: local, local, scroll, scroll !important;*/
    display: inline-block !important;
}

.ucntsnips li:first-child {
    scroll-margin-left: 0 !important;
    margin-left: 0 !important;
}

.ucntsnips-btn {
    display: inline-block !important;
    vertical-align: 800% !important;
    position: relative;
    /*width: 15px !important;*/
    /*height: 15px !important;*/
    border: 0;
    outline: 0;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    border-radius: 6px;
}

.ucntsnips-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.ucntsnips-btn:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.ucntsnips-btn:first-of-type {
    margin-right: 15px;
}

.ucntsnips-btn:nth-of-type(2) {
    margin-left: 15px;
}

.ucntsnips li a div h4 {
    width: 287px !important;
    left: 13px !important;
    margin-left: revert !important;
    font-family: Source Code Pro, monospace !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}

@media screen and (max-width: 600px) {
    .ucnt, .ubnr, .ubnr-cont, .ucnt h1 {
        width: 83.3vw;
    }

    .ucntdsc, .ucnt h4, .ucntinf {
        width: calc(83.3vw - 45px) !important;
        left: 22.5px;
    }

    .ucntsnips {
        width: calc(83.3vw - 20px) !important;
        left: 10px;
        margin-top: 10px !important;
    }
}