.codepgpre-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    z-index: 30;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow-y: hidden;
    display: none;
    opacity: 0;
    transition: 0.2s;
}

.codepgpre {
    /*width: 570px;*/
    /*height: 715px;*/
    width: 450px;
    /*height: 600px;*/
    height: 77.5dvh;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #222431;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: 0.3s all;
    margin-top: 10px;
    /*z-index: 2;*/
}

.codepgpre::-webkit-scrollbar {
    display: none;
}


.codepgpre-close {
    font-family: Inter, sans-serif;
    position: relative;
    left: 15px;
    margin-top: 15px;
    margin-bottom: 0;
    display: inline-block;
    transition: 0.2s;
    color: var(--color);
    cursor: pointer;
    font-weight: 700;
    width: fit-content;
}

.codepgpre-close:hover {
    filter: brightness(0.75);
}

.codepgpre-close:active {
    filter: brightness(0.5);
}

.codepgpre-link {
    font-family: Inter, sans-serif;
    color: var(--action-text-color);
    transition: 0.2s;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    right: 15px;
    top: 15px;
    margin-top: 0;
    position: absolute;
    width: fit-content;
}

.codepgpre-link:active {
    filter: brightness(0.75);
}

.codepgpre-link svg {
    vertical-align: top;
    margin-top: 0;
    scale: 0.8;
    position: relative;
    padding-left: 0;
    transition: 0.2s padding-left;
}

@media (hover: hover) and (pointer: fine) {
    .codepgpre-link:hover {
        color: var(--action-text-hover-color);
        fill: var(--action-text-hover-color)
    }

    .codepgpre-link:hover svg {
        padding-left: 5px;
    }
}

.codepgpre img {
    position: relative;
    left: 20px;
    margin-left: 0;
    margin-top: 10px;
    width: calc(450px - 40px);
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.codepgpre-title {
    font-family: JetBrains Mono, monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    position: relative;
    left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
    width: calc(450px - 40px);
    color: var(--color);
}

.codepgpre-info {
    font-family: JetBrains Mono, monospace;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    position: relative;
    left: 20px;
    margin-top: 0;
    width: calc(450px - 20px - 10px);
    margin-bottom: 0;
    color: var(--color);
}

.codepgpre-infosep {
    color: rgba(255, 255, 255, 0.25);
}

.codepgpre-author {
    font-family: JetBrains Mono, monospace;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    margin-top: 5px;
    left: 20px;
    margin-bottom: 0;
    width: calc(450px - 40px);
    color: var(--color);
}

.codepgpre-author span {
    color: #99A3FF;
}

.codepgpre-desc {
    margin-top: 5px;
    position: relative;
    left: 20px;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    overflow: scroll;
    width: calc(450px - 40px);
    height: auto;
    line-height: 25px;
    color: var(--color);
}

@media (prefers-color-scheme: light) {
    .codepgpre {
        background-color: #B8BBD0;
    }

    .codepgpre-author span {
        color: #212e96;
    }
}

@media screen and (max-width: 500px) {
    .codepgpre, .codepgpre img, .codepgpre-title, .codepgpre-info, .codepgpre-author, .codepgpre-desc {
        width: calc(100% - 40px);
    }
}


.codepg-btngp button {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

@media (hover: hover) and (pointer: fine) {
    .codepg-btngp button {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}