.codepg {
    border: revert;
    background: revert;
    height: 90dvh;
    top: 53%;
    white-space: normal;
    overflow: visible !important;
}

.codepg-btngp {
    position: relative;
    width: calc(450px - 40px);
    left: 20px;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
}

.codepg-btngp::-webkit-scrollbar {
    display: none;
}

.codepg-btngp button:not(:first-child) {
    margin-left: 10px;
}

.emojifix {
    font-family: "Twemoji Mozilla",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji",
    "EmojiOne Color",
    "Android Emoji",
    sans-serif !important;
}

.codepg-update {
    position: relative;
    margin-top: 5px;
}

.codepg-license a {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .codepg-btngp {
        width: 100%;
        left: -20px;
        margin-left: 0;
        padding-left: 40px;
    }

    .codepg-btngp button:last-child {
        margin-right: 40px;
    }
}

.codepg-btngp button {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    -webkit-tap-highlight-color: initial !important;
}

.codepg-btngp button:active {
    background-color: var(--button-primary-bg) !important;
}

@media (hover: hover) and (pointer: fine) {
    .codepg-btngp button {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .codepg-btngp button:active {
        background-color: var(--button-primary-bg-active) !important;
    }
}

.codepg-ratepop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: 0.3s all;
    margin-top: 10px;
    width: 330px;
    height: 185px;
    border-radius: 21px;
    background: rgba(40, 40, 42, 1);
    text-align: center;
}

.codepg-ratepop h3 {
    font-size: 30px;
    color: white;
}

.codepg-ratepop button:last-child {
    margin-left: 15px;
}

@media (prefers-color-scheme: light) {
    .codepg-ratepop {
        background: rgb(157, 157, 168);
    }

    .codepg-ratepop h3 {
        color: black;
    }
}


.codepg-desc {
    padding-bottom: 15px;
}