.pg-heading {
    font-family: "JetBrains Mono", monospace;
    font-size: 96px;
    font-weight: 900;
    padding: 0;
    margin-bottom: 0;
    position: relative;
    top: 15px;
    left: 40px;
    width: fit-content;
    height: fit-content;
    color: var(--color);
}

.pg-subtitle {
    color: var(--color);
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    font-size: 22px;
    position: relative;
    padding: 0;
    top: 0;
    left: 40px;
    margin-top: 0;
    width: calc(100% - 90px);
    height: fit-content;
    margin-bottom: 0;
}

.pg-action {
    position: relative;
    left: 40px;
    top: 10px;
}

.pg-section-heading {
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    font-size: 26px;
    position: relative;
    left: 40px;
    padding: 0;
    top: 30px;
}

.pg-section-list {
    position: relative;
    top: 20px;
}

.pg-section-list li {
    display: inline-block;
}

.pg-section-list li:not(:first-child) {
    margin-left: 17px;
}

@media screen and (max-width: 900px) {
    .pg-heading, .pg-subtitle, .pg-action, .pg-section-heading {
        left: 20px;
    }
}

@media screen and (max-width: 550px) {
    .pg-heading {
        font-size: 17.455vw;
    }

    .pg-subtitle {
        font-size: 4vw;
        width: calc(100% - 70px)
    }
}