.buy-code-sell {
  font-size: 96px;
  font-weight: 900;
  padding-left: 3vw;
  margin-top: 70px;
  margin-bottom: 40px;
  font-family: "JetBrains Mono", monospace;
  color: var(--color);
    width: fit-content;
}

.img1 {
  width: 582px;
  position: absolute;
  top: 100px;
  right: 100px;
}

.img2 {
  width: 461px;
  position: absolute;
  top: 70px;
  right: 70px;
}

@media screen and (max-width: 940px) {
  .img1 {
    right: 0;
  }

  .img2 {
    right: -30px;
  }
}

@media screen and (max-width: 840px) {
  .img1 {
    width: 461px;
    top: 150px;
  }

  .img2 {
    width: 343px;
    top: 120px;
  }
}

@media screen and (max-width: 670px) {
  .img1 {
    width: 343px;
    top: 180px;
  }

  .img2 {
    width: 290px;
    top: 140px;
  }
}

@media screen and (max-width: 550px) {
  .img1, .img2 {
    display: none;
  }
}

.one-catchphrase {
  padding-left: 3vw;
  font-size: 20px;
  color: var(--color);
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
    width: fit-content;

}

.one-desc {
  padding-left: 3vw;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  color: var(--color);
  font-family: "JetBrains Mono", monospace;
    width: calc(100% - 3vw - 10px) !important;
    /*display: inline-block;*/
}

.one-desc-logo {
    height: 15px;
    width: fit-content;
}

@media (prefers-color-scheme: light) {
    .one-desc-logo {
        filter: brightness(0);
    }
}