:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #19191C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --input-border: rgba(255, 255, 255, 0.18);
  --input-border-focus: white;
  --input-bg: rgba(255, 255, 255, 0.10);
  --input-bg-hover: rgba(255, 255, 255, 0.15);
  --input-placeholder: #ABABAB;

  --button-primary-bg: white;
  --button-primary-bg-hover: black;
  --button-primary-bg-active: #202020;
  --button-primary-color: black;
  --button-primary-color-hover: white;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #DADDEC;
    --input-border: rgba(0, 0, 0, 0.18);
    --input-border-focus: #000000;
    --input-bg: rgba(0, 0, 0, 0.10);
    --input-bg-hover: rgba(0, 0, 0, 0.15);
    --input-placeholder: #303030;

    --button-primary-bg: #282828;
    --button-primary-bg-hover: white;
    --button-primary-bg-active: #B6B6B6;
    --button-primary-color: white;
    --button-primary-color-hover: black;
  }
}


button.primary {
  border-radius: 7px;
  background-color: var(--button-primary-bg);
  outline: 0;
  border: 0;
  color: var(--button-primary-color);
  font-family: JetBrains Mono, monospace;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 22px;
  cursor: pointer;
  transition: 0.25s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (hover: hover) and (pointer: fine) {
  button.primary:hover {
    background-color: var(--button-primary-bg-hover);
    color: var(--button-primary-color-hover);
  }
}
button.primary:active {
  background-color: var(--button-primary-bg-active);
}


input[type=text], input[type=email], input[type=password] {
  width: 300px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid var(--input-border);
  background: var(--input-bg);
  font-family: JetBrains Mono, monospace;
  font-size: 15px;
  font-weight: 400;
  transition: 0.15s;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  outline: 0;
}

input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder {
  color: var(--input-placeholder);
}

@media (hover: hover) and (pointer: fine) {
  input[type=text]:hover, input[type=email]:hover, input[type=password]:hover {
    background: var(--input-bg-hover);
  }
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  border-color: var(--input-border-focus);
  outline: 0;
  background: var(--input-bg);
}

