:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgb(255, 255, 255);
    background-color: #19191C;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg: #19191C;

    --input-border: rgba(255, 255, 255, 0.18);
    --input-border-focus: white;
    --input-bg: rgba(255, 255, 255, 0.10);
    --input-bg-hover: rgba(255, 255, 255, 0.15);
    --input-placeholder: #ABABAB;

    --color: white;
    --color-flip: black;

    --button-primary-bg: white;
    --button-primary-bg-hover: black;
    --button-primary-bg-active: #202020;
    --button-primary-color: black;
    --button-primary-color-hover: white;


    --button-accent-border: rgba(255, 255, 255, 0.25);
    --button-accent-border-active: white;
    --button-accent-bg: rgba(0, 0, 0, 0.30);
    --button-accent-bg-hover: rgba(0, 0, 0, 0.75);
    --button-accent-bg-active: rgba(0, 0, 0, 0.5);

    --action-text-color: #1E90FF;
    --action-text-hover-color: #83C2FF;
    --action-text-active-color: white;

    --link-text-color: #99A3FF;
    --link-text-hover-color: rgba(153, 163, 255, 0.9);
    --link-text-active-color: rgba(153, 163, 255, 0.6);

    --button-action-bg-hover: rgba(255, 255, 255, 0.10);
    --button-action-bg-active: rgba(255, 255, 255, 0.05);
    --button-action-border: rgba(255, 255, 255, 0.18);
    --button-action-border-active: rgba(255, 255, 255, 0.50);

    --select-border: #2D2D2D;
    --select-bg-hover: rgba(255, 255, 255, 0.01);
    --select-bg-focus: rgba(255, 255, 255, 0.10);
    --select-bg: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_748_27)"><mask id="mask0_748_27" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><path d="M0 0H24V24H0V0Z" fill="white"/></mask><g mask="url(%23mask0_748_27)"><mask id="mask1_748_27" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><path d="M24 24L0 24L0 0L24 0L24 24Z" fill="white"/></mask><g mask="url(%23mask1_748_27)"><path d="M4 9L9.172 14.172C10.505 15.505 11.172 16.172 12 16.172C12.828 16.172 13.495 15.505 14.828 14.172L20 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 9L9.172 14.172C10.505 15.505 11.172 16.172 12 16.172C12.828 16.172 13.495 15.505 14.828 14.172L20 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></g></g><defs><clipPath id="clip0_748_27"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');

    --nav-nofocus: rgba(255, 255, 255, 0.75);
    --nav-focus: white;

    --file-label-bg: rgb(255, 255, 255, 0.05);
    --file-label-bg-hover: rgb(255, 255, 255, 0.1);
    --file-label-bg-active: rgb(255, 255, 255, 0.2);
    --file-label-border: rgba(255, 255, 255, 0.25);
    --file-label-border-hover: rgba(255, 255, 255, 0.5);
}


@media (prefers-color-scheme: light) {
    :root {
        background-color: #DADDEC;
        --bg: #DADDEC;
        --input-border: rgba(0, 0, 0, 0.18);
        --input-border-focus: #000000;
        --input-bg: rgba(0, 0, 0, 0.10);
        --input-bg-hover: rgba(0, 0, 0, 0.15);
        --input-placeholder: #303030;

        --color: black;
        --color-flip: white;

        --button-primary-bg: #282828;
        --button-primary-bg-hover: white;
        --button-primary-bg-active: #B6B6B6;
        --button-primary-color: white;
        --button-primary-color-hover: black;

        --button-accent-border: rgba(0, 0, 0, 0.25);
        --button-accent-border-active: rgba(0, 0, 0, 0.75);
        --button-accent-bg: rgba(255, 255, 255, 0.30);
        --button-accent-bg-hover: rgba(255, 255, 255, 0.50);
        --button-accent-bg-active: rgba(255, 255, 255, 0.50);

        --action-text-color: #0066ff;
        --action-text-hover-color: #005DB8;
        --action-text-active-color: black;

        --link-text-color: #311ea6;
        --link-text-hover-color: rgba(38, 42, 86, 0.9);
        --link-text-active-color: rgba(9, 11, 30, 0.6);

        --button-action-bg-hover: rgba(0, 0, 0, 0.10);
        --button-action-bg-active: rgba(0, 0, 0, 0.05);
        --button-action-border: rgba(0, 0, 0, 0.60);
        --button-action-border-active: black;

        --select-border: rgba(45, 45, 45, 0.75);
        --select-bg-hover: rgba(0, 0, 0, 0.05);
        --select-bg-focus: rgba(0, 0, 0, 0.10);
        --select-bg: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_903_41)"><mask id="mask0_903_41" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><path d="M0 0H24V24H0V0Z" fill="white"/></mask><g mask="url(%23mask0_903_41)"><mask id="mask1_903_41" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><path d="M24 24L0 24L0 0L24 0L24 24Z" fill="white"/></mask><g mask="url(%23mask1_903_41)"><path d="M4 9L9.172 14.172C10.505 15.505 11.172 16.172 12 16.172C12.828 16.172 13.495 15.505 14.828 14.172L20 9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 9L9.172 14.172C10.505 15.505 11.172 16.172 12 16.172C12.828 16.172 13.495 15.505 14.828 14.172L20 9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></g></g><defs><clipPath id="clip0_903_41"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');

        --nav-nofocus: rgba(0, 0, 0, 0.75);
        --nav-focus: black;

        --file-label-bg: #D8DAE8;
        --file-label-bg-hover: #C5C6D3;
        --file-label-bg-active: #AFB1BC;
        --file-label-border: rgba(0, 0, 0, 0.25);
        --file-label-border-hover: rgba(0, 0, 0, 0.5);


        margin: 0;
        padding: 0;
    }
}
