svg:has(~ span) {
    display: inline-block !important;
    position: relative !important;
    top: 2px !important;
    vertical-align: top !important;
}

.pgrmicnsp {
    display: inline-block !important;
}

svg:has(~ span)[id="rust"] {
    fill: white;
}

.bash {
    fill: white;
    shape-rendering: geometricPrecision !important;
}

@media (prefers-color-scheme: light) {
    svg:has(~ span)[id="rust"] {
        fill: black;
    }

    .bash {
        fill: #293138;
    }
}