.pgrmicn {
    display: inline-block !important;
    position: relative !important;
    top: 2px !important;
    vertical-align: top !important;
}

.rust {
    fill: white;
}

.bash {
    fill: white;
    shape-rendering: geometricPrecision !important;
}

@media (prefers-color-scheme: light) {
    .rust {
        fill: black;
    }

    .bash {
        fill: #293138;
    }
}