body {
    margin: 0;
    padding: 0;
}

a {
    appearance: none;
    -webkit-appearance: none;
    color: inherit;
    text-decoration: inherit;
}


label:has(input[type="file"]) input[type="file"] {
    display: none;
}

label:has(input[type="file"]) {
    background-color: var(--file-label-bg);
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.25s;
    font-family: "JetBrains Mono", monospace;
    color: var(--color);
    font-weight: 700;
    font-size: 14.25px;
    border-radius: 7px;
    border: solid 1px var(--file-label-border);
}

label:has(input[type="file"]):hover {
    background-color: var(--file-label-bg-hover);
    border-color: var(--file-label-border-hover);
}

label:has(input[type="file"]):active {
    background-color: var(--file-label-bg-active);
}

label:has(input[type="file"]) svg {
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 6px;
    padding: 0;
}


select {
    font-family: JetBrains Mono, monospace;
    font-size: 13px;
    border-radius: 8px;
    border: 1px solid var(--select-border);
    backdrop-filter: blur(50px);
    appearance: none;
    -webkit-appearance: none;
    padding: 9px 31px 9px 13px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: var(--select-bg);
    background-position: 93% center;
    background-size: 15px;
    transition: 0.2s;
    cursor: pointer;
    color: var(--color);
}

@media (hover: hover) and (pointer: fine) {
    select:hover {
        background-color: var(--select-bg-hover);
    }
}

select:focus {
    outline: 0;
    background-color: var(--select-bg-focus);
}

select option {
    background-color: #2B2A2D;
}


button.action {
    padding: 9px 19px;
    border-radius: 10px;
    border: solid 1px var(--button-action-border);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    font-family: JetBrains Mono, monospace;
    font-size: 13px;
    font-weight: 500;
    background: none;
    cursor: pointer;
    transition: 0.2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--color);
}

@media (hover: hover) and (pointer: fine) {
    button.action {
        padding: 12px 19px;
    }

    button.action:hover {
        background: var(--button-action-bg-hover);
    }
}

button.action:active {
    border-color: var(--button-action-border-active);
    background: var(--button-action-bg-active);
}


.action-text {
    font-family: JetBrains Mono, monospace;
    color: var(--action-text-color);
    transition: 0.2s;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}

@media (hover: hover) and (pointer: fine) {
    .action-text:hover {
        color: var(--action-text-hover-color);
    }
}


.action-text:active {
    color: var(--action-text-active-color);
}


.link-text {
    color: var(--link-text-color);
    transition: 0.25s;
}

.link-text:hover {
    color: var(--link-text-hover-color)
}

.link-text:active {
    color: var(--link-text-active-color)
}

button.accent {
    border-radius: 7px;
    border: solid 1px var(--button-accent-border);
    background: var(--button-accent-bg);
    padding: 10px 22px;
    font-family: JetBrains Mono, monospace;
    font-size: 14px;
    font-weight: 700;
    transition: 0.25s;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--color);

}

@media (hover: hover) and (pointer: fine) {
    button.accent:hover {
        background: var(--button-accent-bg-hover);
    }
}

button.accent:active {
    border-color: var(--button-accent-border-active);
    background: var(--button-accent-bg-active)
}


button.primary {
    border-radius: 7px;
    background-color: var(--button-primary-bg);
    outline: 0;
    border: 0;
    color: var(--button-primary-color);
    font-family: JetBrains Mono, monospace;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 22px;
    cursor: pointer;
    transition: 0.25s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (hover: hover) and (pointer: fine) {
    button.primary:hover {
        background-color: var(--button-primary-bg-hover);
        color: var(--button-primary-color-hover);
    }
}

button.primary:active {
    background-color: var(--button-primary-bg-active);
}

input[type="text"], input[type="email"], input[type="password"], textarea, input[type="number"] {
    width: 300px;
    height: 36px;
    border-radius: 9px;
    border: 1px solid var(--input-border);
    background: var(--input-bg);
    font-family: JetBrains Mono, monospace;
    font-size: 14.25px;
    font-weight: 400;
    transition: 0.15s;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    outline: 0;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder, textarea::placeholder, input[type="number"]::placeholder {
    color: var(--input-placeholder);
}

@media (hover: hover) and (pointer: fine) {
    input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, textarea:hover, input[type="number"]:hover {
        background: var(--input-bg-hover);
    }
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, input[type="number"]:focus {
    border-color: var(--input-border-focus);
    outline: 0;
    background: var(--input-bg);
}


textarea {
    width: 295px;
    height: 100px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    transition: width 0s, height 0s, color 0.15s, background 0.15s, border-color 0.15s;
}


.noscbr {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

.noscbr::-webkit-scrollbar {
    display: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid var(--input-border);
    width: 16px;
    height: 16px;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;
}

input[type="checkbox"]:hover {
    filter: brightness(0.9);
}

input[type="checkbox"]:checked {
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg width="14px" height="14px" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="black"><path d="M5 13L9 17L19 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (prefers-color-scheme: light) {
    input[type="checkbox"] {
        border-color: var(--select-border);
    }

    input[type="checkbox"]:checked {
        background-color: #313131;
        background-image: url('data:image/svg+xml;utf8,<svg width="14px" height="14px" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="white"><path d="M5 13L9 17L19 7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
