.md-heading {
    line-height: 75px;
    margin-bottom: 20px;
    width: calc(100% - 40px) !important;
    padding: 0;
    white-space: initial !important;
    overflow: visible;
}

.pg-subsection {
    padding-left: 40px;
    padding-top: 10px;
}

.pg-subsection * {
    display: inline-block;
}

.pg-subsection *:not(:first-child) {
    position: relative;
    margin-left: 10px !important;
}

@media screen and (max-width: 900px) {
    .pg-subsection {
        padding-left: 20px;
    }
}

@media screen and (max-width: 550px) {
    ing {
        font-size: 15.8vw;
        line-height: 60px;
        top: 23px;
    }
}

@media screen and (max-width: 400px) {
    .pg-subsection select:nth-of-type(3) {
        position: relative;
        margin-top: 7px;
        left: -10px;
    }
}